<div class="bg-gray-100 py-4 px-2 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-sm sm:mx-auto">
    <div class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
    <div class="relative px-2 py-4 bg-white shadow-lg sm:rounded-3xl sm:p-6">
      <div class="max-w-xs mx-auto">
        <h5 class="text-xl font-bold mb-4">
          <% if params[:role] == "admin" %>
            New Admin
          <% end %>
        </h5>
        <div class="divide-y divide-gray-200">
          <%= simple_form_for(@user, url: admin_users_path) do |f| %>
            <% if @user.errors.any? %>
              <div class="text-red-500">
                <%= @user.errors.full_messages.to_sentence.capitalize %>
              </div>
            <% end %>
            <%= f.hidden_field :role, value: params[:role] %>
            <div class="py-4 text-base leading-6 space-y-3 text-gray-700 sm:text-lg sm:leading-7">
              <div class="relative">
                <%= f.input :email, input_html: { class: "peer placeholder-transparent h-8 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-rose-600 text-sm" }, placeholder: "Email Address" %>
              </div>
              <div class="relative">
                <%= f.input :password, input_html: { class: "peer placeholder-transparent h-8 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-rose-600 text-sm" }, placeholder: "Password" %>
              </div>
              <div class="relative">
                <%= f.input :password_confirmation, input_html: { class: "peer placeholder-transparent h-8 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-rose-600 text-sm" }, placeholder: "Confirm Password" %>
              </div>
              <div class="relative">
                <%= f.submit "Register", class: "bg-blue-500 text-white rounded-md px-2 py-1 text-sm" %>
              </div>
            </div>
          <% end %>
        </div>
        <%= link_to "Cancel", admin_users_path, class: "mt-4 btn btn-size py-1 px-4 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" %>
      </div>
    </div>
  </div>
</div>